<!-- https://www.youtube.com/watch?v=cwgck1k0YKU -->

@page "/weather"

@inject IHttpClientFactory _clientFactory

<h3>wheatherData</h3>

@if (string.IsNullOrWhiteSpace(errorString) == false)
{
    <div class="h2">@errorString</div>
}
else if (forecast is null)
{

    <div class="h4">Loading....</div>
}
else
{
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Data</th>
                <th>Weather State</th>
                <th>Low</th>
                <th>High</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var w in forecast.Consolidated_weather)
            {
                <tr>
                    <td>@w.Applicable_date</td>
                    <td>@w.Weather_state_name</td>
                    <td>@w.Min_temp</td>
                    <td>@w.Max_temp</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    WeatherForecastModel forecast;
    string errorString;

    protected override async Task OnInitializedAsync()
    {
        //var request = new HttpRequestMessage(HttpMethod.Get,
        //    "https://www.metaweather.com/api/location/2471217/");

        //var client = _clientFactory.CreateClient();  //create a client, use a factory to create client for us so it will either pull from existing client out or it will create a new client depending on some internal rules,
        //there is a pool of clients that the client factory has that it will pull from, the reason this is important instead just create our new HTTP client every time is because
        //you can actually have socket exhaustion from having too many open clients if you don't close them properly
        //plus it caused some overhead in your machine and is just little messier to just call HTTP client directly, well now using the client factory we can create the client properly
        //and properly make sure they're closed and all the rest, so we don't need to worry about how it is disposed, it disposed of itself just fine
        //and it refreshes them on a certain cycle so the DNS doesn't get stale but it also doesn't have too many open at a time, it just take care a lot of stuff behind the scenes

        //HttpResponseMessage response = await client.SendAsync(request);  //send the request out and get the response back

        //if (response.IsSuccessStatusCode)
        //{
        //    forecast = await response.Content.ReadFromJsonAsync<WeatherForecastModel>();  //this is gonna take our content and it's gonna read from JSON async which means it gonna take this "WeatherForecastModel" model and
        //and it's gonna read the JSON and put it into strongly typed model "forecast"
        //    errorString = null;
        //}
        //else
        //{
        //    errorString = $"There was an error getting our forecast: {response.ReasonPhrase}";
        //}

        var client = _clientFactory.CreateClient("meta");

        try
        {
            forecast = await client.GetFromJsonAsync<WeatherForecastModel>("location/2471217/"); //we've now shortened how much we actually need to put in here to just the extension of our API
            errorString = null;
        }
        catch (Exception ex)
        {
            errorString = $"There was an error getting our forecast: {ex.Message}";
        }
    }
}

